.project{
    position: relative;
    opacity: 0;
    bottom: -200px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.project_show{
    opacity: 1;
    bottom: 0;
}

.project_left{
    justify-content: flex-end;
}

.project_img{
    width: 100%;
    border-radius: 25px;
}

.image_link{
    display: flex;
    width: 100%;
    height: auto;
}

.image_overlay{
    display: flex;
    width: 50%;
}

.project_content{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 52%;
    right: 0;
    text-align: right;
    gap: 0.8rem;
}

.content_left{
    left: 0;
}

.content_left .project_title,.project_desc{
    text-align: left;
}

.content_left .project_tags{
    justify-content: flex-start;
}

.project_desc{
    padding: 30px 10px;
    background-color: var(--color-bg);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

.project_tags{
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
}

/* =========================== MEDIA QUERIES =========================== */
@media screen and (max-width: 785px){
    .project{
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .project_content{
        left: calc(50% - 100px);
        width: 200px;
    }

    .image_overlay{
        width: 300px;
    }

    .project_desc{
        opacity: 0;
        background-color: rgba(31, 31, 56, 0.90);
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
    }

    .content_left .project_tags{
        justify-content: space-evenly;
    }

    .project_tags{
        position: relative;
        bottom: -65px;
        justify-content: space-evenly;
    }

    .project_tags .text-secondary{
        color: white;
    }

    .project_title{
        position: relative;
        top: -65px;
        text-align: center;
        font-weight: bold;
    }

    .content_left .project_title{
        text-align: center;
    }
}


