.about_wrapper{
    height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* =========================== UPPER =========================== */
.about_upper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about_greeting{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}

.about_portrait{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 50%;
    overflow: hidden;
}

.about_portrait::after{
    z-index: 0;
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    width: 250px;
    height: 400px;
    border-radius: 125px;
    transform: rotate(25deg) translateX(-20px) translateY(10px);
}

.about_img{
    z-index: 1;
    height: 200px;
}

/* =========================== LOWER =========================== */
.about_lower{
    display: flex;
}

.about_text{
    margin: 0 0 0 auto;
    width: 72%;
    border: 1px solid var(--color-primary);
    padding: 20px;
    text-align: justify;
}

p > span{
    display: inline-block;
    font-size: larger;
    height: auto;
    width: 90px;
}

.about_buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.about_btn{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.about_btn:hover{
    background-color: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.about_btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
}

/* =========================== SKILLS =========================== */
.about_skills{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

/* =========================== MEDIA QUERIES =========================== */
@media screen and (max-width: 785px){
    .about_upper{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .about_greeting{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .about_portrait{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .about_lower{
        display: flex;
        flex-direction: column-reverse;
    }

    .about_text{
        width: 100%;
    }

    .about_buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 20px 0;
    }

    .about_btn{
        height: auto;
        width: 35%;
        padding: 20px 20px;
    }

    .about_wrapper{
        justify-content: flex-start;
        margin-bottom: 300px;
    }

    .about_skills{
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }
}