.contact_wrapper{
    display: flex;
    margin: 5rem 0;
    align-items: center;
    justify-content: space-evenly;
}

.contact_text{
    width:20rem;
    text-align: justify;
}

.email_button{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    gap: 0.6rem;
    width: fit-content;
    border: 1px solid var(--color-primary);
    border-radius: 25px;
}

.contact_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_button_btn{
    transition: var(--transition);.
}

.email_button_btn:hover{
    color: var(--color-white);
}

.contact_right{
    width: 40%;
}

.contact_btn{
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    background: var(--color-primary);
    color: var(--color-bg);
}

.contact_btn:hover{
    background-color: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_input{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
}
