.sidelines_sidebar{
    display: flex;
    height: 270px;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    bottom: 0;
}

.sidelines_sidebar:after{
    content: "";
    width: 1px;
    height: 100%;
    background: var(--color-primary);
}

.sidelines_sidebar > a{
    position: relative;
    top: 0;
    transition: ease 200ms;
}

.sidelines_sidebar > a:hover{
    top: -0.3rem;
}

/* =========================== LEFT =========================== */
.sidelines_left{
    left: var(--sidebar-pos-l);
}

/* =========================== RIGHT =========================== */
.sidelines_right{
    right: var(--sidebar-pos-l);
    font-weight: 300;
    font-size: 0.9rem;
}

.sidelines_right > a {
    height: 300px;
    font-size: medium;
    writing-mode: vertical-lr;
}

/* =========================== MEDIA QUERIES =========================== */
@media screen and (max-width: 1024px){
    .sidelines_left{
        left: var(--sidebar-pos-m);
    }

    .sidelines_right{
        right: var(--sidebar-pos-m);
    }
}

@media screen and (max-width: 760px){
    .sidelines_left,.sidelines_right{
        display: none;
    }
}