header{
    z-index: 1000;
    position: fixed;
    top: 0;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: rgba(31, 31, 56, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar_icon{
    width: 48px;
    height: auto;
}

.navbar_list{
    display: flex;
    gap: 2rem;
}

a > span {
    color: var(--color-white);
}

.navbar_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================== MEDIA QUERIES =========================== */
@media screen and (max-width: 1024px){
    .list{
        gap: 0.5rem;
    }
}