header{
    position: fixed;
    top: 0;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    backdrop-filter: blur(10px);
}

.list{
    display: flex;
    gap: 2rem;
}

a > span {
    color: var(--color-white);
}

/* =========================== MEDIA QUERIES =========================== */
@media screen and (max-width: 1024px){
    .list{
        gap: 0.5rem;
    }
}