.experience_timeline{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.experience_line{
    background-color: var(--color-primary);
    left: calc(50% - 1px);
    position: absolute;
    width: 2px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.experience_line::after,.experience_line::before{
    position: absolute;
    left: 50%;
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    transform: translateX(-50%);
}

.experience_line::after{
    bottom: 0;
}